<nav class="navbar navbar-expand-sm navbar-dark fixed-top justify-content-center pt-2 pb-2 pl-0 pr-0 shadow-sm">

  <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </div>

  <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">

    <ul class="navbar-nav text-right text-uppercase">

      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>

      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-white" routerLink="flora-and-fauna">Flora & Fauna</a>
      </li>

      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-white" routerLink="small-ptgs">Small PTGS</a>
      </li>

      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-white" routerLink="catalog">Catalog</a>
      </li>

      <li class="nav-item active mr-4 ml-4">
        <a class="nav-link text-white" routerLink="biography">Biography</a>
      </li>
    </ul>
  </div>
</nav>
